{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <div style="margin-left: 1%; margin-right: 1%;">
                <p>
                    FlyMarket - это современный и инновационный онлайн-маркет, который предлагает широкий ассортимент
                    товаров и услуг для удовлетворения потребностей самых разных клиентов. Наша цель - сделать процесс
                    покупки простым, удобным и безопасным для каждого пользователя.
                </p>
                <p>Основные преимущества FlyMarket:</p>
                <p>
                    Широкий ассортимент: на FlyMarket вы найдете товары от ведущих мировых брендов, а также продукцию
                    начинающих производителей. Мы стремимся предложить вам только качественную и проверенную
                    продукцию.
                </p>
                <p>Удобный поиск: с помощью удобного и понятного интерфейса вы легко сможете найти нужный товар,
                    используя фильтры по категориям, брендам, цене и т.д.</p>
                <p>Быстрая доставка: мы предлагаем различные способы доставки, включая курьерскую, почтовую и самовывоз.
                    Кроме того, мы гарантируем быструю обработку и отправку заказанных товаров.</p>
        </div>
        <a href="{% url 'about' %}" class="btn btn-warning">На страницу про нас</a>
    </div>
{% endblock %}